// custom variables
// $primary: #ff6f61;
// $light: #edefdd;

// import the functions and variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "altlight": #edefdd,
    "altprimary": #ff6f61,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";